# See /usr/share/postfix/main.cf.dist for a commented, more complete version

smtpd_banner = $myhostname ESMTP $mail_name (Ubuntu)
biff = no

# appending .domain is the MUA's job.
append_dot_mydomain = no

# Uncomment the next line to generate "delayed mail" warnings
#delay_warning_time = 4h

myhostname = <%= scope.lookupvar('postfix::mailserver_hostname') %>
home_mailbox = Maildir/
alias_maps = hash:/etc/aliases
alias_database = hash:/etc/aliases
myorigin = /etc/mailname
mydestination = <%= scope.lookupvar('postfix::mailserver_dest_hosts') %>
relayhost = <%= scope.lookupvar('postfix::relayhost') %>
mynetworks = <%= scope.lookupvar('postfix::mailserver_networks') %>
mailbox_size_limit = 0
recipient_delimiter = 
inet_interfaces = all
smtpd_use_tls = no
smtp_tls_security_level = may
inet_protocols = all
transport_maps = hash:/etc/postfix/transport
