<% if !scope.lookupvar('postfix::transport_maps').empty? %>
<%= @fqdn %> : 
<% scope.lookupvar('postfix::transport_maps').each do |transport| -%>
<%= transport %> : 
<% end -%>
* discard :
<% end -%>
