#######################################################################
#
# This is the main Nginx configuration file.
#
# More information about the configuration options is available on
#   * the English wiki - http://wiki.nginx.org/Main
#   * the Russian documentation - http://sysoev.ru/nginx/
#
#######################################################################

#----------------------------------------------------------------------
# Main Module - directives that cover basic functionality
#
#   http://wiki.nginx.org/NginxHttpMainModule
#
#----------------------------------------------------------------------

user              www-data;
worker_processes  auto;

error_log  /var/log/nginx/error.log  notice;

pid        /var/run/nginx.pid;


#----------------------------------------------------------------------
# Events Module
#
#   http://wiki.nginx.org/NginxHttpEventsModule
#
#----------------------------------------------------------------------

events {
    worker_connections  1024;
    use epoll;
}


#----------------------------------------------------------------------
# HTTP Core Module
#
#   http://wiki.nginx.org/NginxHttpCoreModule
#
#----------------------------------------------------------------------

http {
    include       /etc/nginx/mime.types;
    default_type  application/octet-stream;
    index index.php index.htm index.html;

    server_tokens off;

    log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
                      '$status $body_bytes_sent "$http_referer" '
		      '"$http_user_agent" $request_length $body_bytes_sent';

    log_format  proxy '$http_x_sucuri_clientip - $remote_user [$time_local] "$request" '
                      '$status $body_bytes_sent "$http_referer" '
                      '"$http_user_agent" $request_length $body_bytes_sent';

    access_log  /var/log/nginx/access.log proxy;
    sendfile       on;
    tcp_nopush     on;
    tcp_nodelay    on;
    server_names_hash_bucket_size 128;
    keepalive_timeout  5;

    gzip  on;
    gzip_min_length  1000;
    gzip_proxied     expired no-cache no-store private auth;
    gzip_types       text/plain application/xml application/x-javascript text/css font/ttf font/opentype application/vnd.ms-fontobject image/svg+xml;

    gzip_disable "msie6";

    include /etc/nginx/conf.d/*.conf;

    server {
        listen      80;
        server_name  _;
        root   <%= @docroot %>;

        add_header Strict-Transport-Security "max-age=31536000; includeSubDomains";
        include /etc/nginx/conf.d/drupal_common_config;
    }
}
